.OurClients {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.OurClients h2 {
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  opacity: 0.8;
}

.hover_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container {
  position: relative;
  overflow: hidden;
  max-width: 500px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex: 1 1 0%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  max-width: 500px;
  max-height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--baseBlue);

  background: #000428;
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);
  background: linear-gradient(to bottom, #004e92, #000428);

  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.4s ease;
}

.image_container:hover .overlay {
  bottom: 0;
  height: 100%;
  opacity: 1;
}

.overlay_child_container {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay_child_container button {
  background-color: var(--lightGray);
  transition: 0.2s ease;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  margin-top: 1.25rem;
  border-radius: 9999px;
}

.overlay_child_container button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Media Query */

/* md */
@media (max-width: 768px) {
  .OurClients {
    padding-top: 2rem;
  }

  .image_container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hover_image_container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
  }
}

/* lg */
@media (max-width: 1024px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* 2xl */
@media (max-width: 1536px) {
}

/* sm */
@media (max-width: 640px) {
  /* .hover_image_container {
    align-items: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
  .image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
  } */
}
