.loading_overlay {
  display: flex;
  background-color: #000000;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

/* Loading Spinner */

.animate-ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: circleColor 2s linear infinite;
}
@keyframes circleColor {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}
.animate-ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.loading-text {
  color: var(--baseBlue);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 200px;
  animation: textColor 1.2s ease-in-out infinite;
}
@keyframes textColor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
