.NavBar {
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  background-color: var(--baseBlue);
  z-index: 999;
  height: 75px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.NavBar .GetStarted {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 3rem;
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 9999px;
  color: rgba(0, 70, 156, 1);
}

.starlight_logo {
  width: auto;
  height: 2rem;
}

.search-icon {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  border-radius: 9999px;
}
.search-icon:hover {
  background-color: var(--lightGray);
}

.hover_dropdown_container {
  display: flex;
  align-items: center;
}

.hover_drop_down-item {
  position: relative;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.hover_drop_down-item p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

.drop_down-label {
  border-radius: 9999px;
  position: relative;
}

.drop_down-label:hover {
  background-color: var(--lightGray);
  transition: all 0.2s ease;
}

.hover_drop_down-child {
  display: none;
  padding-top: 0.7rem;
  background-color: transparent;
  flex-direction: column;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 3s ease;
  opacity: 0;
  height: 0;
}

.drop_down-label:hover ~ .hover_drop_down-child {
  display: block;
  opacity: 1;
  height: max-content;
  transition: all 3s ease;
}

.hover_drop_down-child:hover {
  display: flex;
  opacity: 1;
  height: max-content;
}

.hover_child-container {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ffffff;
  color: #000000;
  flex-direction: column;
  border-radius: 12px;
  min-width: 200px;
  transition: all 3s ease;
}
.hover_child-container > div:hover {
  background-color: rgba(229, 231, 235, 1);
}

.hover_drop_down-child {
  border-radius: 12px;
  box-shadow: 2px 9px 17px -8px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 2px 9px 17px -8px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 2px 9px 17px -8px rgba(0, 0, 0, 0.64);
}

.hamburger {
  display: none;
}

.menu-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 19px;
  width: 1.5rem;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  width: 1.5rem;
  height: 2px;
  background-color: white;
  transform: rotate(0);
  transition: all 0.45s ease;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  transition: all 0.25s;
  transform: translateX(-0.5rem);
  opacity: 0;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(-6px) translate(6px);
}

/* Utils Classes */
.expanded {
  flex: 1 1 0%;
}

/* Media Query */

/* md */
@media (max-width: 768px) {
  .hover_dropdown_container {
    display: none;
  }
  .GetStarted {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

/* NAvBar Slide  */

.nav_backdrop {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.573);
  transition: all 0.2s ease;
  color: white;
}

.nav_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999999;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: all 3s ease;
}

.nav_overlay__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4rem;
  align-items: center;
}
/* 
.nav_overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav_overlay a:hover,
.nav_overlay a:focus {
  color: #f1f1f1;
}

.nav_overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .nav_overlay a {
    font-size: 20px;
  }
  .nav_overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} */

.collapsible {
  /* background-color: #777; */
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: var(--lightGray);
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
}
