.NavBar {
  display: flex;
  position: fixed;
  width: 100vw;
  top: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  background-color: var(--baseBlue);
  z-index: 999;
  height: 88px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.NavBar button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 3rem;
  background-color: #ffffff;
  font-weight: 700;
  border-radius: 9999px;
  color: rgba(0, 70, 156, 1);
}

.starlight_logo {
  width: auto;
  height: 2rem;
}

.search-icon {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  border-radius: 9999px;
}
.search-icon:hover {
  background-color: var(--lightGray);
}

.hover_dropdown_container {
  display: flex;
  /* align-items: center; */
}

.hover_drop_down-item {
  position: relative;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.hover_drop_down-item p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
  font-weight: 700;
  cursor: pointer;
}

.drop_down-label {
  border-radius: 9999px;
  position: relative;
}

.drop_down-label:hover {
  background-color: var(--lightGray);
}

.drop_down-label:hover ~ .hover_drop_down-child {
  display: block;
}
.hover_drop_down-child {
  display: none;
  padding-top: 0.5rem;
  background-color: transparent;
  flex-direction: column;
  width: max-content;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hover_drop_down-child:hover {
  display: flex;
}

.drop_child {
  display: none;
  padding-top: 0.5rem;
  background-color: transparent;
  flex-direction: column;
  width: max-content;
}

.hover_child-container {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ffffff;
  color: #000000;
  flex-direction: column;
  border-radius: 0.75rem;
  min-width: 200px;
}
.hover_child-container > div:hover {
  background-color: rgba(229, 231, 235, 1);
}

/* Utils Classes */
.expanded {
  flex: 1 1 0%;
}

/* Media Query */

/* sm */
@media (min-width: 640px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}
