@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --baseBlue: rgba(0, 70, 156, 1);
  --lightGray: rgba(255, 255, 255, 0.181);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

.pill {
  @apply rounded-full;
}

.hover-lightGray {
  background-color: rgba(255, 255, 255, 0.181);
}

.shadow-custom {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.Review-gradient {
  background: #be93c5;
  background: -webkit-linear-gradient(to right, #7bc6cc, #be93c5);
  background: linear-gradient(to right, #7bc6cc, #be93c5);
}

.MakeTheRightMove-gradient {
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

/*  TO Add AppWise container */

.container_c,
.container_c-fluid,
.container_c-sm,
.container_c-md,
.container_c-lg,
.container_c-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container_c,
  .container_c-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container_c,
  .container_c-sm,
  .container_c-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container_c,
  .container_c-sm,
  .container_c-md,
  .container_c-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container_c,
  .container_c-sm,
  .container_c-md,
  .container_c-lg,
  .container_c-xl {
    max-width: 1140px;
  }
}

/* Media Query */

/* 2xl */
@media (max-width: 1536px) {
}
/* xl */
@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1024px) {
}
/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}
