@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --baseBlue: rgba(0, 70, 156, 1);
  --lightGray: rgba(255, 255, 255, 0.181);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.pill {
  @apply rounded-full;
}

.hover-lightGray {
  background-color: rgba(255, 255, 255, 0.181);
}

.absolute-x-center {
  @apply absolute left-1/2 -translate-x-1/2  transform;
}

.shadow-custom {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
}
