.MakeTheRightMove__gradient {
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

.Review__gradient {
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

/* Our Clients */

.image_container {
  position: relative;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--baseBlue);

  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.image_container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlay-child-container {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay-child-container button {
  background-color: var(--lightGray);
  transition: 0.2s ease;
}

.overlay-child-container button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* End of Our Clients */

/* Footer */

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.Footer {
  background: #3a7bd5;
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  background: linear-gradient(to right, #3a6073, #3a7bd5);
}
